<%- include('templates/header.ejs' , {
  activeState:'contact'
} ) -%>
    <!-- main content -->
    <section class="templatemo-container">
      <div class="container">
        <div class="row margin-bottom-30">
          <div class="col-lg-12 text-uppercase text-center">
            <h2 class="section-title">Contact Us</h2>
            <div class="section-title-underline-blue"></div>
            <hr class="section-title-underline" />
          </div>
          <!-- col-lg-12 -->
        </div>
        <!-- row -->
        <div class="row margin-bottom-30">
          <div class="col-lg-6 col-md-6 contact-left">
            <h3 class="section-title-2 text-uppercase font-weight-300">
              <b>Our</b> <span class="blue-text">Information</span>
            </h3>
            <p class="margin-bottom-30">
              Government College of Engineering and Leather Technology.
            </p>
            <div class="contact-point">
              <i
                class="fa fa-map-marker fa-2x contact-point-icon blue-text"
              ></i>
              <div class="contact-point-detail-container">
                <b
                  class="
                    text-uppercase
                    contact-point-title
                    blue-text
                    font-weight-700
                  "
                  >Address</b
                >
                <p class="contact-point-detail">
                  LB Block, Salt Lake City, Sector III, Bidhannagar, Kolkata,
                  West Bengal 700098.
                </p>
              </div>
            </div>
            <div class="contact-point">
              <i
                class="fa fa-envelope-o fa-2x contact-point-icon blue-text"
              ></i>
              <div class="contact-point-detail-container">
                <b
                  class="
                    text-uppercase
                    contact-point-title
                    blue-text
                    font-weight-700
                  "
                  >Email id-</b
                >
                <p class="contact-point-detail">swa.gcelt@gmail.com</p>
              </div>
            </div>
            <div class="contact-point">
              <i class="fa fa-phone fa-2x contact-point-icon blue-text"></i>
              <div class="contact-point-detail-container">
                <b
                  class="
                    text-uppercase
                    contact-point-title
                    blue-text
                    font-weight-700
                  "
                  >Phone</b
                >
                <p class="contact-point-detail">
                  MR SAYEEF RUSSEL BISWAS(G.S)- 6297112167
                </p>
                <p class="contact-point-detail">
                  MR NAYAN DAS(A.G.S)- 8101964216
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 contact-right">
            <center>
              <h3 class="section-title-2 text-uppercase font-weight-300">
                <b>Leave</b> <span class="blue-text">a Review</span>
              </h3>
            </center>
            <form action="#" method="post" class="tm-contact-form">
              <div class="tm-contact-form">
                <div class="form-group">
                  <input
                    type="text"
                    id="contact_name"
                    class="form-control"
                    placeholder="NAME"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    id="contact_email"
                    class="form-control"
                    placeholder="EMAIL"
                  />
                </div>

                <div class="form-group">
                  <textarea
                    id="contact_message"
                    class="form-control"
                    rows="5"
                    cols="75"
                    placeholder="MESSAGE"
                  ></textarea>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    name="submit"
                    class="text-uppercase btn-blue-gradient btn-submit"
                  >
                    submit review
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- row -->
        <center>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14738.018615462393!2d88.4108622!3d22.5602212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc178d80fd958e825!2sGovernment%20College%20of%20Engineering%20and%20Leather%20Technology!5e0!3m2!1sen!2sin!4v1606327720525!5m2!1sen!2sin"
            width="400"
            height="400"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </center>
      </div>
      <!-- container -->
    </section>
<%- include('templates/footer.ejs' , {
  funcNotNeeded:false
  } ) -%>