<%- include('templates/header.ejs' , {
  activeState:'event'
} ) -%>

<!-- main event content -->
    <section class="templatemo-container">
      <div class="container">
        <div class="row margin-bottom-30">
          <div class="col-lg-12 text-uppercase text-center">
            <h2 class="section-title">OUR EVENTS</h2>
            <div class="section-title-underline-blue"></div>
            <hr class="section-title-underline" />
            <p class="small">Organized By- Students' Welfare Association</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-5 col-sm-5 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">1.INDEPENDENCE DAY</span>
                <span class="font-weight-300 blue-text">15th August</span>
              </h3>
              <img
                src="/events/gcelt-1.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Independence Day</span>,is widely
                celebrated in gcelt on the auspitious day of 15th August.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">2.TEACHERS' DAY</span>
                <span class="font-weight-300 blue-text">5th September</span>
              </h3>
              <img
                src="/events/gcelt-2.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Teachers'Day</span> is celebrated in
                gcelt with equal enthusiasm on the day of 5th September
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">3.FRESHERS' WELCOME</span>
                <span class="font-weight-300 blue-text">AAGAMAN</span>
              </h3>
              <img
                src="/events/gcelt-3.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Aagaman</span>, a freshers welcome
                ceremony is celebrated in gcelt with an enthusiasm of a
                prosperous begining.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">4.BISWAKARMA PUJA</span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-4.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Biswakarma Puja</span>, is celebrated in
                gcelt to gain more powers to the Engineers.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">5.TECHNICAL FEST</span>
                <span class="font-weight-300 blue-text">ENGINERDS</span>
              </h3>
              <img
                src="/events/gcelt-5.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Enginerds</span>,a technical fest is
                celebrated in gcelt with the presence of the other genuine
                enginers where everyone show their respective talents to
                complete the goal.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700"
                  >6.ROTARACT CLUB ESTABLISHMENT DAY
                </span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-6.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Establishment day of RC GCELT</span>, is
                celebrated on the auspitious day of 2nd November.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">7.HAPPY NEW YEAR</span>
                <span class="font-weight-300 blue-text">1st JANUARY</span>
              </h3>
              <img
                src="/events/gcelt-7.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">New Year</span>, is widely celebrated on
                the 1st day of the year.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700"
                  >8.SWAMI VIVEKANANDA JANMAJYANTI</span
                >
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-8.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Vivekananda Jayanti</span>, is widely
                celebrated on the auspitious day of 12th January.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">9.BLOOD DONATION CAMP</span>
                <span class="font-weight-300 blue-text">17th JANUARY</span>
              </h3>
              <img
                src="/events/gcelt-9.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Annual Blood Donation Camp</span>, is
                widely observed on the day od 17th january every year.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">10.NETAJI JANMAJYANTI</span>
                <span class="font-weight-300 blue-text">23rd JANUARY</span>
              </h3>
              <img
                src="/events/gcelt-10.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Netaji Janma Jayanti</span> is widely
                celebrated on the auspitious day of 23rd January every year.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">11.REPUBLIC DAY</span>
                <span class="font-weight-300 blue-text">26th JANUARY</span>
              </h3>
              <img
                src="/events/gcelt-11.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Republic Day</span>, is widely celebrated
                on the auspitious day of 26th January every year.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">12.COLLEGE PICNIC</span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-12.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Annual College Picnic</span> is widely
                celebrated in the fag end of the mointh of the January.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">13.SWARASATI PUJA</span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-13.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Saraswati Puja</span> is widely observr
                on vasant panchami with equal enthusiasm.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">14.ANNUAL SPORTS FEST</span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-14.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Annual Sports Fest</span> a sports
                programme is celebrated in GCELT campus with equal enthusiasm.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">15.COLLEGE FOUNDATION DAY</span>
                <span class="font-weight-300 blue-text">11th MARCH</span>
              </h3>
              <img
                src="/events/gcelt-15.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">College foundation day</span> is
                celebrated on the auspitious day of the 11th march. .
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">16.UNION ESTABLISTMENT DAY</span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt55.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Establishment day</span> of SWA is widely
                celebrated on the day of 25th October.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">17.ANNUAL CULTURAL FEST</span>
                <span class="font-weight-300 blue-text">PUNORMILON</span>
              </h3>
              <img
                src="/events/gcelt-17.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">RESURRECTION</span>, an annual cultural
                fest cum reunuon is widely celebrated on the auspitious days of
                the march with equasl enthusiasm.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">18.B M DAS BIRTHDAY</span>
                <span class="font-weight-300 blue-text">FOUNDER PRINCIPAL</span>
              </h3>
              <img
                src="/events/gcelt-18.jpg"
                style="border: 5px groove gold"
                width="475"
                height="180"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">B.M. DAS BIRTHDAY</span>, the birth day
                of the founder principal of Gcelt is widely celebrated on the
                auspitiousday of 2nd May.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">19.RABINDRA JAYANTI</span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-19.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Rabindra jayanti</span> is widelyu
                observrd on the auspitious day of 9th may.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">20.FAREWELL</span>
                <span class="font-weight-300 blue-text"></span>
              </h3>
              <img
                src="/events/gcelt-20.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">College Farewell</span> is a memorable
                programme to the current alimnies , given by present students
                with equal enthusiasm.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">21.UNION FAREWELL</span>
                <span class="font-weight-300 blue-text"> </span>
              </h3>
              <img
                src="/events/gcelt-21.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text">Union Farewell</span>is a programme where
                present union members bids adiue to the former union members by
                differet presentations.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="recent-post-container">
              <h3 class="text-uppercase recent-post-title margin-bottom-30">
                <span class="font-weight-700">22.ROTARACT CHARTER DAY</span>
                <span class="font-weight-300 blue-text">11th june</span>
              </h3>
              <img
                src="/events/gcelt-22.jpg"
                style="border: 5px groove gold"
                alt="Image"
                class="img-responsive margin-bottom-30"
              />
              <p class="justify-text">
                <span class="red-text"> Charter day </span>of RC GCELT is
                celewbrated in gcelt with equal enthusiasm.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
<%- include('templates/footer.ejs' , {
    funcNotNeeded:false
  } ) -%>