<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/lg2.png" type="image/x-icon" />
        <title>STUDENTS' WELFARE ASSOCIATION,GCELT</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">
        <!-- 
        Multi Profile
        http://www.templatemo.com/preview/templatemo_457_multi_profile
        -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/templatemo-style.css" rel="stylesheet">
        <link rel="stylesheet" href="Account Id/style.css" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="templatemo-container">
        <!-- header -->
        <div class="welcome-container">
            <div class="container">
                <div class="row" style="color: #0a4035"> 
                <div class="col-sm-2 col-xs-4 col-md-1 col-lg-1 ">
                    
                    <img src="img/lg2.png" alt="Site logo" width="125" height="125"  >
                </div>
                <div class="col-sm-10 col-xs-8 col-md-11 col-lg-11">
                    <center>
                        <h1 style="color: #ffffff"><b>STUDENTS' WELFARE ASSOCIATION</b></h1>
                        <h5 style="color: #ffffff"><p>GOVERNMENT COLLEGE OF ENGINEERING AND LEATHER TECHNOLOGY</p></h5>
                        <samp style="color: #ffffff"><p>Email id-swa.gcelt@gmail.com   wwww.https://gcelt.gov.in/</p></samp>
                        <samp style="color: #ffffff">Address: LB Block,Salt Lake, Sector III, Kolkata, West Bengal 700098</samp>
                        <samp style="color: #ffffff"><p>Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961.</p></samp>
                    </center>
                </div>
                </div>
            </div>
        </div>

        <div class="header-bg">
            <div class="container-fluid"style="color: #0a4035">

                <div class="row">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="nav navbar-nav templatemo-nav-container">
                        <nav class="templatemo-nav" data-spy="affix" data-offset-top="197">
                            <ul>
                                <li><a href="https://gcelt.gov.in/"style="color: #ffffff" >GCELT</a></li>
                                <li><a href="/index" style="color: #ffffff">Home</a></li>
                                <li><a href="/event"style="color: #ffffff" >Event</a></li>
                                <li><a href="/union members" style="color: #ffffff">Union Members</a></li>
                                <li><a href="/gallery"style="color: #ffffff" class="active">Gallery</a></li>
                                <li><a href="/student_id"style="color: #ffffff">Student Id</a></li>
                                <li><a href="/rc-gcelt"style="color: #ffffff" >RC_Gcelt</a></li>
                                <li><a href="/contact"style="color: #ffffff">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
             </div>    
         </div>       
        <!-- end header -->
        <!-- header image -->
        <div class="header-img">
            <center><marquee width = "100%"><h3 style="color:red;"><img src="img/new.gif" alt="" width="100" height="50">This example will take only 50% width</h3></marquee></center>
        </div>

        <!-- end header image -->
        <!-- Welcome message -->
        <div class="welcome-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="welcome-wrapper">
                            <h2 class="welcome-title text-uppercase">Welcome</h2>
                            <img src="img/welcome-divider-lines.png" alt="Welcome divider" class="welcome-divider-lines-img">
                            <p class="welcome-description">Multi Profile is free responsive website template for everyone. Feel free to download and use this template for your websites. Thank you for visiting templatemo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome message -->
        <!-- main content -->
        <section class="templatemo-container">
            <div class="container">
                <div class="row margin-bottom-30">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title"> college program</h2>
                        <div class="section-title-underline-blue"></div>
                         
                            <ul class="nav nav-tabs">
                             <li ><a href="gallery.html">College</a></li>
                             <li><a href="gallery_batch.html">Students' Batch</a></li>
                             <li class="active"><a href="gallery_program.html">All Program</a></li>
                            </ul>
                    </div>
                </div>
                
                <div id="folio-container" class="row">
                    <div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/oNvddiTLha0?start=2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20</p></samp></center>
                    </div>
                    <div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wEOhR3qYWM4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20 (RAP)</p></samp></center>
                    </div>
                    <div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/i9CmGiZ2fZA?start=18" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20 Opening Dance</p></samp></center>
                    </div>
                    <div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/_06dMn_0Di4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20</p></samp></center>
                    </div><div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUFkjlALKvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20</p></samp></center>
                    </div>
                    <div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUFkjlALKvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20</p></samp></center>
                    </div>
                    <div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUFkjlALKvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20</p></samp></center>
                    </div>
                    <div class="col-lg-6 col-md-6 margin-bottom-30 folio-item ">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUFkjlALKvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>RESURRECTION 2K20</p></samp></center>
                    </div>

                    
                    
                </div>
            </div>
        </section>
        <!-- Who We Are -->
        
        <div class="blue-divider effect1">
            <div class="dark-blue-bg"></div>
            <div class="blue-divider-bg-graphic"></div>
            <div class="blue-bg"></div>
        </div>
        <section class="templatemo-container blue-bg footer-nav effect1">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Main menu</h3>
                    <nav class="text-uppercase templatemo-nav-2">
                        <ul>
                            <li><a href="https://gcelt.gov.in/">GCELT</a></li>
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="event.html">EVENT</a></li>
                            <li><a href="union members.html">UNION MEMMBERS</a></li>
                            <li><a href="gallery.html">GALLERY</a></li>
                            <li><a href="students id.html">STUDENT ID</a></li>
                            <li><a href="">RC_GCELT</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 footer-block">
                    <h3 class="text-uppercase">About us</h3>
                    <p>Students Association of GCELT is a government of West Bengal registered association, the Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961.</p>
                    <h4>Account Details</h4>
                    <h5><strong>A/C Name :- </strong> STUDENTS WELFARE ASSOCIATION</h5>
                    <h5><strong>A/C No. :- </strong> 520101247020415</h5>
                    <h5><strong>IFSC Code :- </strong> UBIN0906638</h5>
                    <h5><strong>Bank Name :- </strong> UNION BANK</h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Impotent Notice</h3>
                    <ul>
                        <h5>
                            <li><a href="https://makaut1.ucanapply.com/smartexam/public/result-details">MAKAUT Result</a></li>
                        <li><a href="">Participation Certificate</a></li>
                        <li><a href="">Academic Calendar</a></li>
                        <li><a href="">Anti-Ragging Committee</a></li>
                        <li><a href="">SWA Presentation</a></li>
                        <li><a href="">Students Database</a></li>
                        </h5>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Contact Us</h3>
                    <ul>
                        <li>Government College of Engineering and Leather Technology</li>
                        <li><strong>Address- </strong>LB Block, Sector III, Bidhannagar, Kolkata, West Bengal 700098</li>
                        <li><strong>Mobile</strong>-6297112167</li>
                        <li><strong>Email Id</strong>-swa.gcelt@gmail.com</li>
                        <li><a href="https://www.facebook.com/groups/gcelt"><i class="fa fa-facebook-f" style="font-size:30px;color:red"></i><strong>FACEBOOK</strong></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end main content -->
        <footer class="text-center">
            <p class="small copyright-text">2020 All Rights Reserved by SWA GCELT | <a href="http://cse.iitkgp.ac.in/~pallabnandi/" style="color: #ffffff">PALLAB NANDI</a></p>
        </footer>

        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
        <script type="text/javascript" src="js/responsiveCarousel.min.js"></script>      <!-- Carousel -->
        <script type="text/javascript" src="js/templatemo-script.js"></script>      <!-- Templatemo Script -->
        <script>

            $(function() {
                $('.crsl-items').carousel({
                    visible: 1,
                    itemMinWidth: 320,
                    itemEqualHeight: 320,
                    itemMargin: 9,
                });
                $(".crsl-nav a[href=#]").on('click', function(e) {
                    e.preventDefault();
                });
            });

        </script>
    </body>
</html>