<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/lg2.png" type="image/x-icon" />
        <title>STUDENTS' WELFARE ASSOCIATION,GCELT</title>
        <meta name="description" content="">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/templatemo-style.css" rel="stylesheet">

        

    </head>
    <body class="templatemo-container">
        <!-- header -->
        <div class="welcome-container">
            <div class="container">
                <div class="row" style="color: #0a4035"> 
                <div class="col-sm-2 col-xs-4 col-md-1 col-lg-1 ">
                    
                    <img src="/img/lg2.png" alt="Site logo" width="125" height="125"  >
                </div>
                <div class="col-sm-8 col-xs-6 col-md-9 col-lg-9 ">
                    <center> 
                        <h1 style="color: #ffffff"><b>STUDENTS' WELFARE ASSOCIATION</b></h1>
                        <h5 style="color: #ffffff"><p>GOVERNMENT COLLEGE OF ENGINEERING AND LEATHER TECHNOLOGY</p></h5>
                        <samp style="color: #ffffff"><p>Email id-swa.gcelt@gmail.com   wwww.https://gcelt.gov.in/</p></samp>
                        <samp style="color: #ffffff">Address: LB Block,Salt Lake, Sector III, Kolkata, West Bengal 700098</samp>
                        <samp style="color: #ffffff"><p>Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961.</p></samp>
                    </center>
                </div>
                 </div>
            </div>
        </div>

        <div class="header-bg">
            <div class="container-fluid"style="color: #0a4035">

                <div class="row">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="nav navbar-nav templatemo-nav-container">
                        <nav class="templatemo-nav" data-spy="affix" data-offset-top="197">
                            <ul>
                                <li><a href="https://gcelt.gov.in/"style="color: #ffffff" >GCELT</a></li>
                                <li><a href="/" style="color: #ffffff" class="active">Home</a></li>
                                <li><a href="/event" style="color: #ffffff" >Event</a></li>
                                <li><a href="/union_members" style="color: #ffffff">Union Members</a></li>
                                <li><a href="/gallery"style="color: #ffffff">Gallery</a></li>
                                <li><a href="/student_id"style="color: #ffffff" >Students</a></li>
                                <li><a href="/rc-gcelt"style="color: #ffffff" >RC_Gcelt</a></li>
                                <li><a href="/contact"style="color: #ffffff">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
             </div>    
         </div>       
        <!-- end header -->
        <!-- header image -->
        <div class="header-img">
            
        </div>

        <!-- end header image -->
        <!-- Welcome message -->
        <div class="welcome-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="welcome-wrapper">
                            <h2 class="welcome-title text-uppercase">Welcome</h2>
                            <img src="/img/welcome-divider-lines.png" alt="Welcome divider" class="welcome-divider-lines-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome message -->
        <!-- main content -->
        <section class="templatemo-container section-shadow-bottom">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">Glory of GCELT</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline"> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3 class="section-title-2 text-uppercase font-weight-300"><span class="blue-text">About GCELT</span></h3>
                        <p>The Government College of Engineering and Leather Technology (GCELT), pioneer in the field of education and research on Leather Technology was originally started under the name 'Calcutta Research Tannery' in the year 1919 on the recommendation of Munitions Board set up by the Government of India immediately after the first World War with the aim of exploring Indigenous resources of hides, skins and tanning materials for the purpose of production of leather and leather goods and development of leather industry in the country. The college originally was situated on Canal South Road, Pagladanga, P.O. Tangra, Calcutta – 700 015. In August 1955 this college was affiliated to the University of Calcutta for imparting training in B. Sc. (Tech) course in Leather Technology and it has been recognized as a professional college under the University of Calcutta. The latest development and new schemes undertaken by the college has turned it into a big organization in the field of Leather Technology, the like of which was not found in any part of India. The main service provided by the college to the industry during 90 years of existence was supply of technical manpower and technical development.</p>
                        
                    </div>
                      <div id="folio-container" class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-30 folio-item ">
                        <img src="https://gcelt.gov.in/assets/images/campus.jpg" alt="Image" class="img-thumbnail">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-30 folio-item design">
                        <img src="http://photos.wikimapia.org/p/00/02/46/46/55_big.jpg" alt="Image" class="img-thumbnail">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-30 folio-item web">
                        <img src="https://gcelt.gov.in/assets/images/gallery/3.jpg" alt="Image" class="img-thumbnail">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-30 folio-item web">
                        <img src="https://gcelt.gov.in/assets/images/gallery/4.jpg" alt="Image" class="img-thumbnail">
                    </div>
                        </samp>
                    </div>
               
                            </div>
                        </div>   <!-- carousel-container -->
                        <div id="navbtns" class="crsl-nav">
                            <a href="#" class="previous">
                                <img src="/img/carousel-arrow-previous.png" alt="previous">
                            </a>
                            <a href="#" class="next">
                                <img src="/img/carousel-arrow-next.png" alt="next">
                            </a>
                        </div>
                    </div>
                </div>
                <center><a class="btn-blue-gradient">Official Notice Box</a></center>
                <ul class="gray-text ul-1">
                            
                            <li> <b> Memo No: 251/IV/1 (Dated-03/12/2020):-</b><a href="https://drive.google.com/file/d/1uQ6vCLHDC7dvN_HYz7eSFc5saSRtVK_z/view"><u>DECENTRALIZED ADMISSION NOTICE: B Tech 1st Year 2020</u> <b>(NEW)</b></a> </li>
                            <li><b> Memo No: 233/IV/224 :-</b><a href="https://drive.google.com/file/d/1U7W-WrNr0GiXab0FuITBJVzrH78OjYDZ/view"><u>Updated Admission Notice: B Tech 1st year 2020 and Physical Verification</u></a> </li>
                            <li><b>  Memo No: ICETSD  :-</b><a href="https://drive.google.com/file/d/1-kVuOGB7iD9imH7xWOWjDK_7rJyCJL-L/view?ts=5d7100e5"><u>Conference Proceedings</u> </a></li>
                        </ul>
                <!-- end section content -->
            </div>
        </section>
        <!-- Who We Are -->
        <section class="templatemo-container light-gray-bg section-shadow-bottom">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">ABOUT US</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="tm-blocks-container effect1">
                            <div class="tm-block yellow-bg">
                                <img src="/events/swa-9.jpg"  alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block">
                                <img src="/events/swa-10.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block ">
                                <img src="/events/swa-4.jpg"  alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block">
                                <img src="/events/swa-1.jpg"  alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block">
                                <img src="/events/swa-2.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block">
                                <img src="/events/swa-5.jpg"  alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block ">
                                <img src="/events/swa-6.jpg"  alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block ">
                                <img src="/events/swa-3.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block">
                                <img src="/events/swa-8.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="tm-block ">
                                <img src="/events/swa-7.jpg"  alt="Image" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <h3 class="section-title-2 text-uppercase font-weight-300"><b>STUDENTS' VOICE</b> </h3>
                        <span class="blue-text"><h2>Students' Welfare Association</h2></span>
                        <p class="justify-text">The student body of any educational institute is one of the primary pillars of that institute. Thus every student body needs a platform through which they can voice their opinions, suggestions, complains and demands for their and their institute’s betterment. And not only voicing their opinion, but a platform is also very essential for proper communication among the students, faculty and administration. In GCELT this platform is provided to the students in form of Students Welfare Association of GCELT, a non-profitable, apolitical welfare association, by the students of GCELT and for the students of GCELT.</p>
                        <p class="justify-text">Students Association of GCELT is a government of West Bengal registered association, the Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961. The main purpose and activity of this student body are as follows-
                        </p>
                        <p class="justify-text">
                            <samp>
                               (1).To maintain a unity and communication among all the students of the college present or alumni. Provide a platform using which the students will be able to voice their opinions, suggestions and complains.
                            </samp>
                        </p>
                        <p class="justify-text">
                            <samp>
                                (2).Organize and encourage various co-curricular activities. Different student clubs of GCELT such as the Anti-ragging club, Theatre club, Music club, Debate club, Sports club are all part of the Students Welfare Association.
                            </samp>
                        </p>
                        <p class="justify-text">
                            <samp>
                               (3).Every year two fests: one cultural and one technical are being organized by the students of GCELT, under the banner of Students Welfare Association.
                            </samp>
                        </p>
                        <p class="justify-text">
                            <samp>
                                (4).Annual cricket, football, badminton, carom tournament are organized by the association.
                            </samp>
                        </p>
                        <p class="justify-text">
                            <samp>
                                (5).Other events organized and celebrated by the association includes- Freshers’ Welcome, Teachers’ Day, Independence Day, Republic Day, Rabindra Jayanti, Sharswati Puja, Final year Farewell etc.
                            </samp>
                        </p>
                        <p class="justify-text">
                            The office bearers of this association are strictly students studying in GCELT and no one else. The post of General Secretary contains student from 4th year, Assistant General Secretary from 3rd year, and Treasurer from both 4th and 3rd year. Other official posts of the association include Sports Secretary, Cultural Secretary, Association PR student. Also class’ representative from each year and each stream are also part of the Students’ Welfare Association of GCELT. The office bearers are strictly students studying at GCELT at that time and they are chosen through voting. This election is held every year, under the supervision of college administration.
                        </p>
                        <p class="justify-text">
                            Lastly to speak about this association’s motive, it can be said, Students Welfare Association of GCELT echoes George Bernard Shaw’s words: “You see things, and you say "Why?" But I dream things that never were, and I say "Why not?".
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog -->

        <section class="templatemo-container light-gray-bg section-shadow-bottom">
            <div class="container">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                    </div>
                </div> <!-- row -->
                <div class="row">
                     
                    <div class="col-lg-12 col-md-12">
                        <span class="blue-text"><h2>From The Admin Panel</h2></span>
                        <p class="justify-text">  
                            Students Welfare Association, GCELT is a versatile organisation of Government College Of Engineering And Leather Technology. This Association is an emotion to all the GCELTIANS. In a 100 years college it's not easy to keep all the GCELTIANS under a single umbrella. But Students Welfare Association, GCELT has the ability to do it. Thats why we are launching this website to reunite the GCELTIANS under their own kingdom. We want to grow the melange of connections between us for the betterment of the college. 
                            <br><br>
                            So this is a small innitiative by the GCELTIANS & for the GCELTIANS. Register here and make your own profile and stay connected. Mind it Every GCELTIAN is a wealth for the college. We may reunite in every cultural or technical, or sports or any other programs.....but this website is a connector between alumni & Present Students. GCELT has now two international platform related to social work . Rotaract Club Of GCELT for the present GCELTIANS & Rotaract club of Calcutta Metro City for the Alumni of the institutions. 
                            <br><br>We are in all domains. This is the power of all GCELTIANS. Students Welfare Association has completed its 10 years journey.. and more to go. Students Welfare Association is like a sun in the GCELT galaxy. Be there Enjoy the connection.
                            
                            <br><br>
                            "Four words we never tell lie<br>
                            Remain GCELTIANS till die"
                            <br><br>
                            
                            <span style="font-weight: bold;"> Mr. Pallab Nandi</span> <br>
                            <span style="font-weight: bold;"> Mr. Arkadipta Mukherjee </span> <br>
                            <span style="font-weight: bold;"> Miss Tithi Ghosh </span><br>
                            <span style="font-weight: bold;"> Mr. Souraprabha Ganguly</span> </p>
                        
                          
                    </div>
                </div>

                <br>
                <br>

                <div class="row">
                     
                    <div class="col-lg-12 col-md-12">
                        <span class="blue-text"><h2>From the Union's Desk</h2></span>
                        <p class="justify-text">গর্বের ১০ বছর<br>
                            <br>
                            Students' Welfare Association<br>
                            <br>
                            The student body of any educational institute is one of the primary pillars of that institute. Thus every student body needs a platform through which they can voice their opinions, suggestions, complains and demands for their and their institute’s betterment. And not only voicing their opinion, but a platform is also very essential for proper communication among the students, faculty and administration. In GCELT this platform is provided to the students in form of Students Welfare Association of GCELT, a non-profitable, apolitical welfare association, by the students of GCELT and for the students of GCELT.<br>
                            
                            Students Association of GCELT is a government of West Bengal registered association, the Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961. <br>
                            
                            10 college level clubs two district level and 1 International based club( RC GCELT) are running under the banner of Students Welfare Association.
                            <br>
                            <p class="justify-text"> 
                            This Association  organises
                            <ol>

                            <li> Freshers</li>
                            <li> Technical Festival</li>
                            <li> Cultural Festival</li>
                            <li> Sports Festival</li>
                            <li> Sarswati Puja</li>
                            <li> Farewell, every year.</li>

                            </ol>

                        </p>
                        <br>
                        <p class="justify-text">
                            And other Red letter days  are celebrated with equal enthusiasm<br>
                            <br>
                            The association was founded on the same day of the year 2010 under the supervision of Founder President of Swa cum Ex Principal Of GCELT Dr Buddhadeb Chattopadhaya
                            And incumbent vice president cum Registrar Mr. Roudrashis Hota.<br>
                            <br>
                            The first ever elected General secretary is SK Imran Hassan<br>
                            <br>
                            Every Member of the Association did their level best in their respective years for whom we are going to celebrate today the glourious journey of 10 years<br>
                            <br>
                            Please  listen some spellbound words from the Founder President of Swa cum Ex Principal Dr Buddhadeb Chattopadhaya and Incumbent President of SWA cum officer in Charge Dr Sanjoy Chakraborty<br>
                            <br>
                            Hopefully the pandemic time will over and whole college will celebrate  all the upcoming festivals with full of cherish and melange<br>
                            <br>
                            Stay Safe , Stay home. <br>
                        </p>
                    </div>
                </div>

            </div>
        </section>





        <section class="templatemo-container features">
            <div class="container features-content">
                <div class="row section-title-container">
                    <div class="col-lg-12 text-uppercase text-center">
                        <h2 class="section-title">INTRODUCING THE PIONEERS OF SWA</h2>
                        <div class="section-title-underline-blue"></div>
                        <hr class="section-title-underline">
                        <p class="small">VETERAN PERSONALITY</p>
                    </div>
                </div>
                <div class="row">
                    <div class="feature-container">
                    <p class="text-center margin-bottom-30 gray-text">Here you get to know the history of SWA  by the valueable speech of diginitaries.</p>
                        
                        <div class="tm-progress-container tm-progress-container-left">
                            <div class="tm-progress-label">
                                <iframe width="400" height="200" src="https://www.youtube.com/embed/aXBl9W5NlSo?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>Dr. Sanjoy Chakraborty</p></samp></center>
                                <center><samp><p>President OF SWA,GCELT & Officer In-Charge, GCELT</p></samp></center>
                            </div>
                        </div>
                        <div class="tm-progress-container tm-progress-container-right">
                            <div class="tm-progress-label">
                                <iframe width="400" height="200" src="https://www.youtube.com/embed/BdX_rWmr1oE?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <center><samp><p>Dr. Buddhadeb Chattopadhyay</p></samp></center>
                                <center><samp><p>Founder President OF SWA,GCELT & EX PRINCIPAL OF GCELT</p></samp></center>
                            </div>
                        </div>
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-overlay"></div>
        </section>
        <div class="blue-divider effect1">
            <div class="dark-blue-bg"></div>
            <div class="blue-divider-bg-graphic"></div>
            <div class="blue-bg"></div>
        </div>
        <section class="templatemo-container blue-bg footer-nav effect1">
            <div class="container">
                <div class="col-lg-2 col-md-2 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Main menu</h3>
                    <nav class="text-uppercase templatemo-nav-2">
                        <ul>
                            <li><a href="https://gcelt.gov.in/"style="color: #ffffff" >GCELT</a></li>
                                <li><a href="/" style="color: #ffffff"class="active">Home</a></li>
                                <li><a href="/event" style="color: #ffffff" >Event</a></li>
                                <li><a href="/union_members" style="color: #ffffff">Union Members</a></li>
                                <li><a href="/gallery"style="color: #ffffff">Gallery</a></li>
                                <li><a href="/student_id"style="color: #ffffff" >Student Id</a></li>
                                <li><a href="/rc-gcelt"style="color: #ffffff" >RC_Gcelt</a></li>
                                <li><a href="/contact"style="color: #ffffff">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 footer-block">
                    <h3 class="text-uppercase">About us</h3>
                    <p>Students Association of GCELT is a government of West Bengal registered association, the Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961.</p>
                    <h4>Account Details</h4>
                    <h5><strong>A/C Name :- </strong> STUDENTS WELFARE ASSOCIATION</h5>
                    <h5><strong>A/C No. :- </strong> 520101247020415</h5>
                    <h5><strong>IFSC Code :- </strong> UBIN0906638</h5>
                    <h5><strong>Bank Name :- </strong> UNION BANK</h5>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Impotent Notice</h3>
                    <ul>
                        <h5>
                            <li><a href="https://makaut1.ucanapply.com/smartexam/public/result-details">MAKAUT Result</a></li>
                        <li><a href="">Participation Certificate</a></li>
                        <li><a href="">Academic Calendar</a></li>
                        <li><a href="">Anti-Ragging Committee</a></li>
                        <li><a href="">SWA Presentation</a></li>
                        <li><a href="">Students Database</a></li>
                        </h5>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-block">
                    <h3 class="text-uppercase">Contact Us</h3>
                    <ul>
                        <li>Government College of Engineering and Leather Technology</li>
                        <li><strong>Address- </strong>LB Block, Sector III, Bidhannagar, Kolkata, West Bengal 700098</li>
                        <li><strong>Mobile</strong>-6297112167</li>
                        <li><strong>Email Id</strong>- swa.gcelt@gmail.com </li>
                        <li><a href="https://www.facebook.com/groups/gcelt"><i class="fa fa-facebook-f" style="font-size:30px;color:red"></i><strong>ACEBOOK</strong></a></li>
                        <li><strong>YouTube</strong>- <a href="https://www.youtube.com/channel/UCcMxZX7cc21S3vxsuJkRl5A">https://www.youtube.com/channel/UCcMxZX7cc21S3vxsuJkRl5A</a> </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end main content -->
        <footer class="text-center">
            <p class="small copyright-text">2020 All Rights Reserved by SWA GCELT | <a href="http://cse.iitkgp.ac.in/~pallabnandi/" style="color: #ffffff">PALLAB NANDI</a></p>
        </footer>

        <!-- JS -->
        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
        <script type="text/javascript" src="/js/responsiveCarousel.min.js"></script>      <!-- Carousel -->
        <script type="text/javascript" src="/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
        <script>

            $(function() {
                $('.crsl-items').carousel({
                    visible: 1,
                    itemMinWidth: 320,
                    itemEqualHeight: 320,
                    itemMargin: 9,
                });
                $(".crsl-nav a[href=#]").on('click', function(e) {
                    e.preventDefault();
                });
            });

        </script>
    </body>
</html>
