<%- include('templates/header.ejs' , { 
    activeState:'stud_id' 
} ) -%>

    <section class="templatemo-container">
        <div class="container">
            <center>
                <h3 class="section-title-2 text-uppercase font-weight-300"><b>Log In</b></h3>
            </center>
            <form action="/login" method="post" class="tm-contact-form">
                <div class="tm-contact-form">
                    <div class="form-group">
                        <input type="email" name="email" id="contact_email" class="form-control"
                            placeholder=" ENTER YOUR EMAIL ID" required />
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" id="contact_subject" class="form-control"
                            placeholder="ENTER YOUR PASSWORD " required />
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="text-uppercase btn-blue-gradient btn-submit">Log
                            In</button>
                    </div>
                    <div class="form-group">
                        <center>
                            <a href="/register_page" style="font-weight: bold; font-size: large; color: #1f4853;">Not
                                registered? Sign Up here</a>
                        </center>
                    </div>

                </div>
            </form>
        </div>
    </section>
    <!-- Who We Are -->

<%- include('templates/footer.ejs' , { 
    funcNotNeeded:false 
} ) -%>