<%- include('templates/header.ejs' , {
    activeState:'stud_id'
  } ) -%>
    <section class="templatemo-container">
        <div class="container">
            <center>
                <h3 class="section-title-2 text-uppercase font-weight-300"><b>Register</h3>
            </center>
            <form action="/signup" method="post" class="tm-contact-form">
                <div class="tm-contact-form">
                    <div class="form-group">
                        <input type="text" id="contact_name" name="name" class="form-control" placeholder="FULL NAME"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="email" id="contact_email" name="email" class="form-control" placeholder="EMAIL ID"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="number" id="contact_number" name="mobile_number" class="form-control"
                            placeholder="MOBILE NO." required />
                    </div>
                    <div class="form-group">
                        <input type="text" id="contact_profession" name="profession" class="form-control"
                            placeholder="PROFESSION" required />
                    </div>
                    <div class="form-group">
                        <select name="stream" class="form-select" aria-label="Default select example">
                            <option selected>STREAM</option>
                            <option value="Leather Technology">Leather Technology</option>
                            <option value="Computer Science and Engineering">Computer Science and Engineering</option>
                            <option value="Information Technology">Information Technology</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <select name="batch_year" class="form-select" aria-label="Default select example">
                            <option selected>BATCH</option>
                            <script>

                                for (let i = 1919; i <= 2026; i++) {
                                    var temp = i + "-" + (i + 4);
                                    document.write("<option value=" + temp + ">" + temp + "</option>");
                                }

                            </script>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="PASSWORD"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="password" id="contact_subject" name="confirm_password" class="form-control"
                            placeholder="CONFIRM PASSWORD" required />
                    </div>

                    <div>
                        PROFILE PICTURE (Please make sure the file size is less than 150KB)
                        <input type="file" id="profile_picture" name="profile_picture" class="file_upload" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="text-uppercase btn-blue-gradient btn-submit">sign up</button>
                    </div>
                    <div class="form-group">
                        <center>
                            <a href="/login_page" style="font-size: large; color: #1f4853;">Already registered? Log In
                                here</a>
                        </center>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Who We Are -->
 
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script>
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginImageCrop,
            FilePondPluginFileEncode,
            FilePondPluginImageResize,
            FilePondPluginFileValidateSize
        );

        const file_upload = document.getElementsByClassName('file_upload')[0];
        FilePond.create(file_upload, {
            imagePreviewHeight: 300,
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            maxFileSize: '150KB'
        });
    </script>
<%- include('templates/footer.ejs' , {
    funcNotNeeded:false
   } ) -%>