<%- include('templates/header.ejs' , {
    activeState:'stud_id'
  } ) -%>
        <!-- main content -->
        <section class="templatemo-container">
            <div class="container">
                <div class="row margin-bottom-30">
                    <div class="col-lg-12 text-uppercase text-center">
                        <center>
                            <img src="https://gcelt.gov.in/assets/images/gcelt_students.png" alt="Image" class="img-thumbnail" >
                        </center>
                        <p class="justify-text">
                            <samp>The students of GCELT are active, vibrant and lively. Admission of wards is taken from pool of successful candidates in West Bengal Joint Entrance Examination through counseling process conducted by Central Selection Committee.</samp>
                        </p>
                        <p class="justify-text">
                            <samp>Admission of students to Advanced Certificate Course is done through advertisement in newspaper & college portal followed by a local admission test conducted in the college itself.</samp>
                        </p>
                        <p class="justify-text">
                            <samp>Students belong to a certain meritorious category. Most of our students have excelled in their professional lives and heightened name of the Institute in professional arena. Many of our students opt for higher studies and have excelled in competitive examinations like GATE, CAT, and MAT etc. Students have also proved their excellence in professional examinations designated for administrative posts. Students have also left excellent footprints in other sectors e.g. cultural profession, entrepreneurship etc. Students have also proven their track records in other extra curricular activities also.</samp>
                        </p>
                        <p class="justify-text">
                            <samp>Be a lifelong learner, not a lifelong student...” -Anonymous</samp>
                        </p>
                        <p class="justify-text">
                            <samp>GCELT is such an institute that believes in creating and shaping future citizens of the country, who will take the country to new heights rather than only producing good technicians. In doing so, GCELT not only gives importance to the syllabus oriented academic education but also keeps vigilant eye on character building exercise and providing life oriented education.</samp>
                        </p>
                        <p class="justify-text">
                            <samp>Students of GCELT can be found doing their work and making the country proud in a wide range of fields and not only in computer science/information technology and leather technology sectors. All top levels computer/IT industry have got alumni of GCELT as their employees, IBM, Cognizant, Capgemini, Wipro, TCS, Accenture to name a few such companies. Beside this leading chemical industry companies such as Clarient, STAHL, BASF, TFLT, and FB have got alumni of this college from leather technology department. This speaks for itself about the institute and the students of this institute.</samp>
                        </p>
                        <p class="justify-text">
                            <samp>Beside this many students of GCELT can be found pursuing further higher studies in top institutes across the country, both in r&d and hr field.</samp>
                        </p>
                        <p class="justify-text">
                            <samp>There are also alumni of this institute, who are flourishing in other professions apart from CS/IT and LT. GCELT takes pride in them also, as the institute believes, the ultimate goal is to be a proper human being and do well to oneself and to the society, and the field or process for doing so may vary. And GCELT makes sure that even when the student completes his/her course and attains the degree, the will to learn is not diminished in any form. It’s a matter of a joy, till date GCELT have been successful in doing so, and for that the students of the college deserves equal credit as the institute itself.</samp>
                        </p>
                        <!-- <center><a  class="btn-blue-gradient">Student Id Acoount</a></center> -->

                        <div style="display: flex; flex-direction: row;justify-content: center;">
                            <div class="form-group" style="margin-right: 10px;">
                                <a href="/login_page">
                                    <button
                                    type="submit"
                                    name="submit"
                                    class="text-uppercase btn-blue-gradient btn-submit"
                                    >
                                    student login
                                    </button>
                                </a>   
                            </div>
    
                            <div class="form-group">
                                <a href="/register_page">
                                    <button
                                    type="submit"
                                    name="submit"
                                    class="text-uppercase btn-blue-gradient btn-submit"
                                    >
                                    student register
                                    </button>
                                </a>   
                            </div>
                        </div>
                    </div> <!-- col-lg-12 -->
                 
            </div> <!-- container -->
        </section>
        <!-- Who We Are -->
<%- include('templates/footer.ejs' , {
    funcNotNeeded:false
  } ) -%>