<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/lg2.png" type="image/x-icon" />
        <title>STUDENTS' WELFARE ASSOCIATION,GCELT</title>
        <meta name="description" content="">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/templatemo-style.css" rel="stylesheet"> 

    </head>
    <body class="templatemo-container">
        <!-- header -->
        <div class="welcome-container">
            <div class="container">
                <div class="row" style="color: #0a4035"> 
                <div class="col-sm-2 col-xs-4 col-md-1 col-lg-1 ">
                    
                    <img src="/img/lg2.png" alt="Site logo" width="125" height="125"  >
                </div>
                <div class="col-sm-8 col-xs-6 col-md-9 col-lg-9 ">
                    <center> 
                        <h1 style="color: #ffffff"><b>STUDENTS' WELFARE ASSOCIATION</b></h1>
                        <h5 style="color: #ffffff"><p>GOVERNMENT COLLEGE OF ENGINEERING AND LEATHER TECHNOLOGY</p></h5>
                        <samp style="color: #ffffff"><p>Email id-swa.gcelt@gmail.com   wwww.https://gcelt.gov.in/</p></samp>
                        <samp style="color: #ffffff">Address: LB Block,Salt Lake, Sector III, Kolkata, West Bengal 700098</samp>
                        <samp style="color: #ffffff"><p>Reg. No being- S/1L/74818 of 2010-2011 under West Bengal Act XXVI of 1961.</p></samp>
                    </center>
                </div>
                 </div>
            </div>
        </div>

        <div class="header-bg">
            <div class="container-fluid"style="color: #0a4035">

                <div class="row">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="nav navbar-nav templatemo-nav-container">
                        <nav class="templatemo-nav" data-spy="affix" data-offset-top="197">
                            <ul>
                                <li><a href="https://gcelt.gov.in/"style="color: #ffffff" >GCELT</a></li>
                                <li><a href="/" style="color: #ffffff" class="active">Home</a></li>
                                <li><a href="/event" style="color: #ffffff" >Event</a></li>
                                <li><a href="/union_members" style="color: #ffffff">Union Members</a></li>
                                <li><a href="/gallery"style="color: #ffffff">Gallery</a></li>
                                <li><a href="/student_id"style="color: #ffffff" >Students</a></li>
                                <li><a href="/rc-gcelt"style="color: #ffffff" >RC_Gcelt</a></li>
                                <li><a href="/contact"style="color: #ffffff">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
             </div>    
         </div>       
        <!-- end header -->
        <!-- header image -->
        <div class="header-img">
            
        </div>

        <!-- end header image -->
        <!-- Welcome message -->
        <div class="welcome-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="welcome-wrapper">
                            <h2 class="welcome-title text-uppercase">Welcome</h2>
                            <img src="/img/welcome-divider-lines.png" alt="Welcome divider" class="welcome-divider-lines-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome message -->
        <!-- main content -->

